
header.topo {
    background: linear-gradient(140deg, rgba(0, 0, 0, 0.1), hsla(0, 0%, 0%, 0.77)), url(../../../assets/images/bg-intro.jpg) center center no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 32px;
    height: 100vh;
}
@media (min-width: $containerS){
    header.topo {
        height: unset;
    }
}
.btn-mobile {
    display: none;
} 
.menu-lista{
    margin: auto;
    width: fit-content;
}
.menu-lista li,
.menu-lista a{
    display: inline-block;
}
.menu-lista a{
    padding: 18px;
    text-decoration: none;
    color: #fff;
}
.menu-lista a.ativo:after{
    content: "";
    display: block;
    height:2px; 
    background-color: rgba(0, 100, 200, 1);
    margin: -2px 0;
}
.menu-lista a:hover{ 
    color: rgba(255, 255, 255, 0.75); 
}
.topo-logo{
    display: block;
    border: none;
    max-width: 48px;
    max-height: 48px;
    margin: auto;
}
.topo-titulo {
    line-height: 1;
    margin: 30vh 0 5px;
    font-size: 2.5em;
    font-family: 'Fascinate Inline', cursive;
    color: #fff;
}
@media (min-width: $containerS){
    .topo-titulo { 
        margin: 20vh 0 5px;
    }
}
.topo-paragrafo {
    color: #fff;
    line-height: 1;
    margin-top: 15px;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.75); 
} 
.topo-social{
    position: absolute;
    bottom: 40px;
    width: 100% !important;
    margin-top: 15vh;
}
.topo-social a{ 
    color: rgba(255, 255, 255, 0.75);
}
.topo-social a:hover{
    color: rgba(255, 255, 255, 1);
} 
@media (min-width: $containerS){
    .topo-social{
        position: unset;
    } 
}
/*



header{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(15, 20, 25, 1);
    z-index: 1;
}
nav{

}
.logo{
    padding: 4px; 
}
.logo a{
    width: fit-content;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo span{
    display: inline-block;
    padding: 0 6px;
    color: #fff;
}
.logo-img{
    max-height: 35px;
    display: inline-block; 
    margin: auto;
}
nav .btn-mobile{
    display: none;
}
nav .menu-link{
    display: block;
    padding: 6px;
    font-size: 0.75em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
nav .menu-link:hover{
    color: rgba(255,255,255,.75);
}
nav ul{
    list-style: none;
    display: none;
}
@media (min-width: 500px){
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav .logo{
        width: 25%;
    }
    nav ul{
        padding: 0 16px;
        display: flex;
    }
}
*/