// Variaveis
$containerS: 576px;
$containerM: 770px;
$containerL: 1040px;
$containerXL: 1280px;
$colunas: 12;
$gutter: 16;
// Mixin Media Query Min-width
@mixin MediaQueryMin($device) {
    @if $device == S { 
        @media ( min-width: $containerS ){ 
            @content; 
        }
    }
    @else if $device == M {
        @media (min-width: $containerM){ 
            @content; 
        }
    }
    @else if $device == L {
        @media (min-width: $containerL){ 
            @content; 
        }
    }
    @else if $device == XL {
        @media (min-width: $containerXL){ 
            @content; 
        }
    }
    @else{
        @media (min-width: $device){ 
            @content; 
        }
    }
} 
// Mixin Media Query Max-width
@mixin MediaQueryMax($device) {
    @if $device == S { 
        @media ( max-width: $containerS  - 1){ 
            @content; 
        }
    }
    @else if $device == M {
        @media (max-width: $containerM - 1){ 
            @content; 
        }
    }
    @else if $device == L {
        @media (max-width: $containerL - 1){ 
            @content; 
        }
    }
    @else if $device == XL {
        @media (max-width: $containerXL - 1){ 
            @content; 
        }
    }
    @else{
        @media (max-width: $device){ 
            @content; 
        }
    }
}