// sections
.section-skill{
  padding: 28px 0;
  @include MediaQueryMin(M){
    padding: 60px 0;
  }
}
// div 1
.section-skill > div:nth-child(2){
  padding: 15px 0;
}
// div 2
.section-skill > div:nth-child(3){
    // box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.5);
    // border: 1px solid rgba(0, 0, 0, 0.25);
    // width: 95%;
    margin: auto;
    @include MediaQueryMin(S){
        // width: 80%;
    }
}


// skill titulo
.skill-titulo{
    @include section_titulo();
}
.skill-titulo::before,
.skill-titulo::after {
    @include section_titulo_pseudo();
}


// skill
.skill-item{
    width: min-content;
    margin: 0 auto 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skill-nome{
    text-align: center;
    margin: 10px 0 5px;
}
.skill-barra {
    width: 200px;
    height: 10px;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 4px 0px rgba(0, 0, 0, .5);
}
.progress-bar {
    display: block;
    background: red;
    width: 80%;
    height: 4px;
}
span.skill-num {
    font-size: 12px;
    font-style: italic;
}
// collapse 
.skill-nav{ 
    overflow: hidden;
    overflow-x: auto;
}
.skill-menu{
    display: flex; 
}
.skill-menu li{
    font-size: 0.875em; 
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    font-family: monospace;

}
.skill-menu li.ativo{
    font-size: 1em;
    font-weight: bold; 
    background: #e2e2e2;
    background: linear-gradient( 180deg, transparent 0%, #e2e2e2 50%);
}
.skill-menu li:not( :nth-last-child(1) ){

}
// textos
.skill-items{
    // flex: 1;
    background: #e2e2e2;
    padding: 10px;
    // @include MediaQueryMin(S){
    //     padding: 10px 15px;
    // }
}
[data-skill="texto"]{
    display: none;
    min-height: 100%;
    overflow-y: auto;
}
[data-skill="texto"] p:not( :nth-last-child(1) ){
    margin-bottom: 16px;
}
[data-skill="texto"].ativo{
    animation: exibeCard forwards .45s;
    display: block;
}
@keyframes exibeCard{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}