.sobre{
    padding: 30px 0;
}
.sobre-titulo {
    @include section_titulo();
    @include MediaQueryMax(S){
        margin-bottom: 25px;
    }
}
.sobre-titulo::before,
.sobre-titulo::after {
    @include section_titulo_pseudo();
}
.sobre-icone {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100px;
    height: 100px;

    margin: 10px auto;
    padding: 25px;

    border: 2px solid rgba(0, 0, 0, 0.10);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 4px;

    background: linear-gradient(
        150deg,
        rgba(0, 0, 0, .00) 20%,
        rgba(0, 0, 0, .15) 50%,
        rgba(0, 0, 0, .00) 80%
    );
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.20);
    @include MediaQueryMin(S){
        margin: 25px auto;
    }
}
.sobre-icone > img{ 
    max-height: 35px;
}
.subsobre-titulo {
    font-size: 1.25em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}
.subsobre-titulo:after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    margin: 5px auto;
    background: rgba(0,0,0,.20);
}
.sobre-descricao {
    font-size: .875em;
    color: rgba(100,100,100,1);
    text-align: center;
    padding: 0 20px;
    margin-bottom: 30px;
    @include MediaQueryMin(S){
        margin-bottom: 0;
    }
}
.js-carrosselContainer{
    // margin-top: 55px;
}