.section-sobre{
    @include section_area(40,20);
}
.sobre-header{
    @include section_header();
}
.sobre-titulo {
    @include section_titulo(); 
}
.sobre-titulo::before,
.sobre-titulo::after {
    @include section_titulo_pseudo();
}
.subsobre-titulo {
    // font-size: 1.25em; // 20
    font-size: 1; // 16
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 12px;
}
.subsobre-titulo:after {
    content: "";
    display: block;
    height: 1px;
    width: 50%;
    margin: 5px auto;
    background: rgba(0,0,0,.20);
}
.sobre-descricao {
    font-size: .875em; // 14
    color: rgba(100,100,100,1);
    text-align: center;
    padding: 0 15px;
    // margin-bottom: 30px;
}