 
/* intro */
.intro{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    @include MediaQueryMin(S){
        padding-top: 64px; 
    }
}
.intro aside{  
    padding: 8px 10px;
    box-shadow: inset 0 -1px 3px rgba(0, 0, 0, 0.5);
}
/* IMAGEM */
.intro-img {
    //  box-shadow:inset 0px 2px 4px 0px #000000; 
     margin-bottom: 12px;
     display: block;
//     @include MediaQueryMin(S){
//         margin: auto;
//     }
}
/* SOCIAL */
.intro-social{
    width: fit-content !important;
    margin-bottom: 18px;
}
.intro-social a{ 
    font-size: 1.25em;
    color: rgba(0, 0, 0, 0.75);
    // border: 1px solid rgba(0, 10, 200, 0.5);
    // border-radius: 50%;
    // width: 40px;
    // height: 40px;
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;
}
.intro-social a:hover{
    color: rgba(0, 0, 0, 1);
}
/* TEXTOS */
.intro-texto{
    height: 225px;
    overflow-y: scroll;
    // border-top-width: 2px;
    // border-top-style: dashed;
    padding-top: 18px;
} 
.intro-texto h2{
    font-size: 2em;
    line-height: 1;
    margin: 0 0 8px;
    font-family: unset;
} 
.intro-subtituloPrimeiro{
    padding: 0 6px;
}
.intro-texto p{
    padding-left: 8px; 
    margin-bottom: 12px;
    font-size: 0.875em; //14px
}
.intro-texto p:nth-of-type(1){
    color: rgba(0, 0, 0, 0.25);
    font-weight: bold;
    text-transform: uppercase;
}
.intro-img,
.intro-social {
    @include MediaQueryMin(S){
        width: 100%;
        max-width: 300px; 
        margin-left: auto;
        margin-right: auto;
    }
}
/* valores */
.valores {
    padding: 32px 0 8px;
    @include MediaQueryMin(S){ 
        padding: 48px 0 ;
    }
} 
// .valores .row{
//     justify-content: center;
// }
.valores-item {
    margin-bottom: 18px;
}
.valores-icone{
    font-size: 1.5em;
    color: rgba(0, 10, 200, 0.5);
    text-align: center; 
}
.valores-icone:after{
    content: "";
    display: block;
    width: 120px;
    height: 1px;
    background-color: #0064c8;
    margin: 0 auto 8px;
}
.valores-icone > *{ 
    margin: 0 0 6px;
    border: 2px solid rgba(0, 10, 200, 0.5);
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.valores-texto{
    text-align: center;
    font-size: 0.875em;
    max-width: 300px;
    margin: auto;
}


























// .intro .row{
//     justify-content: center;
// }






// .intro-img::after{
//     content: "";
//     display: block;
//     background: red;
// }
/*
.intro-tituloPrimeiro{
    font-size: 2em;
    line-height: 1;
    margin: 16px 0 12px;
    font-family: unset;
}
.intro-tituloPrimeiro:after{
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(0, 100, 200, 1);
}
.intro-subtituloPrimeiro{
    padding: 0 6px;
    color: rgba(0, 0, 0, 0.20);
    font-weight: bold;
    text-transform: uppercase;
}
.intro-textoPrincipal{
    padding: 0 6px; 
    margin: 4px 0px 12px;
    font-size: 0.875em; 
}
.intro-textoPrincipal:nth-last-child(2){ 
}
.intro-tituloSegundo,
.intro-textoSegundo{
    padding: 0 6px; 
}
.intro-tituloSegundo{
    position: relative;
    color: rgba(0, 0, 0, 0.20);
    text-transform: uppercase;
    font-size: 1em;
}
.intro-tituloSegundo::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 2px;
    background-color: #0064c8;
    margin: 0 6px 4px 0;
}
.intro-textoSegundo{
    font-size: 0.875em;
    margin-bottom: 8px; 
    margin: 4px 0px 12px;
    @include MediaQueryMin(S){ 
        margin: 0 0 6px;

    }
} 

*/
.js-scrollAnimation{
    transition: 1s ;
    opacity: 0;
    transform: translate3d(0,-10px,0)
}
.js-scrollAnimation.ativo{
    opacity: 1;
    transform: translate3d(0, 0, 0)
}