body{
    
    background: rgba(0, 0, 0, 0.02)
}

/*
.section-titulo{
    text-transform: capitalize;
    font-weight: bold; 
    font-size: 1.5em;
    letter-spacing: 2px;
    color: rgb(15,20,25);
    margin-bottom: 16px;
    @include MediaQueryMin(S){
        font-size: 2em;
    }
}
.section-titulo:after {
    content: "";
    display: block;
    height: 2px;
    background: linear-gradient(90deg, black 0%, #8099B3 90%);
    margin-top: 8px;
    @include MediaQueryMin(S){
        width: 175px;
    }
}
*/
.social{
    width: fit-content; 
    font-size: 1.375em;
}
.social a{
    display: inline-block;
    margin: 0 10px 0;
    text-decoration: none;
} 
.topo-social a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}